.input {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding-left: 5px;
  outline: none;
}

.label {
  display: block;
  width: 100%;
}

.form {
  background: #c86b43;
}
