html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: Poppins;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts//Poppins-Regular.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(41, 41, 41);
  --secondary-bg-color: #5b5ca7;
  --main-font-color: #141414;
  --accent: #4c5fd5;
  --accent-dark: #292c4a;
  --red: #e73737;
  --white: #edede8;
  --black: #141414;
  --particulier: #ed7d31;
  --pro: #10109e;
  --color-text: hsla(0, 0%, 0%, 0.8);
}
