.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  white-space: nowrap;
}

/* .subtitle {
  color: var(--accent);
} */

@media (min-width: 600px) {
  .title {
    font-size: 65px;
  }
}

.titleContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-size: cover;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
