.container {
}

.skill {
  background: var(--accent-dark); /* orange */
  padding: 4px 6px; /* on gonfle le bloc 7px en haut+bas 9px en droite+gauche*/
  border-radius: 10px; /* 4 coins arrondis */
  display: inline-block; /* indispensable pour la transformation */
  transform: rotate(-1deg); /* on tourne */
  margin-right: 7px;
  cursor: pointer;
}
